# Godot 4+
.godot/

# C# / .NET
bin/
obj/
.mono/

# Environnements de développement (JetBrains Rider, VS Code, etc.)
.idea/
.vscode/
.vs/
*.user
*.suo

# Fichiers d'export Godot (à ne pas versionner si tu y mets des clés de signature)
export.cfg
export_presets.cfg

# OS (Linux, macOS, Windows)
*~
.DS_Store
Thumbs.db